<div id="app">
  <div id="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="main-content columns is-fullheight">
    <aside
      class="menu has-background-white-bis is-narrow-mobile is-fullheight section column is-one-fifth is-hidden-mobile"
    >
      <app-sidebar></app-sidebar>
    </aside>
    <main class="container column is-four-fifths">
      <app-examples></app-examples>
    </main>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>RDKit.js</strong> by
        <a href="https://github.com/rdkit/rdkit"
          >Greg Landrum and the RDKit contributors</a
        >. The source code is licensed
        <a href="https://github.com/rdkit/rdkit/blob/master/license.txt"
          >BDS-3</a
        >.
      </p>
    </div>
  </footer>

  <a class="back-to-top" href="#navbar">&uarr;</a>
</div>
