<app-introduction></app-introduction>

<!-- Components examples -->
<app-mol-list></app-mol-list>
<app-example-loader></app-example-loader>

<!-- Main Examples -->
<app-mol-struct></app-mol-struct>
<app-svg-rendering></app-svg-rendering>
<app-canvas-rendering></app-canvas-rendering>
<app-substructure-highlight></app-substructure-highlight>
<app-multi-substructure-highlight></app-multi-substructure-highlight>
<app-substructure-search></app-substructure-search>
<app-drawing-options></app-drawing-options>

<section class="hero">
    <div class="hero-body">
        <h1 class="title" id="other-examples">Where to go next</h1>
        <p id="other-examples-vanilla-js" class="subtitle column is-two-thirds pl-0">
            You can visit the JavaScript examples
            <a href="https://rdkitjs.com" aria-label="RDKitJS JavaScript Examples">here</a>, which presents the
            low-level API of RDKit.js.
        </p>
        <p class="subtitle column is-two-thirds pl-0" id="other-examples-react">
            You can visit the React examples
            <a href="https://react.rdkitjs.com" aria-label="RDKitJS React Examples">here</a>, which include more
            advanced and interactive examples.
        </p>
        <p class="subtitle column is-two-thirds pl-0" id="other-examples-vue">
            You can visit the Vue examples
            <a href="https://vue.rdkitjs.com" aria-label="RDKitJS Vue Examples">here</a>, which include more
            advanced and interactive examples.
        </p>
        <p id="other-examples-legacy" class="subtitle column is-two-thirds pl-0">
            You can also checkout the legacy
            <a href="https://unpkg.com/@rdkit/rdkit/dist/GettingStartedInJS.html" aria-label="RDKitJS Legacy Examples">getting started</a>
            and
            <a href="https://unpkg.com/@rdkit/rdkit/dist/demo.html" aria-label="RDKitJS Legacy Demo">demo</a>.
        </p>
    </div>
</section>