<div id="component-example-moleculestructure" class="container">
    <section class="hero">
        <div class="hero-body">
            <h1 class="title">MoleculeStructureComponent</h1>
            <p class="subtitle">The examples below will mostly use the Angular component MoleculeStructureComponent to render the examples. You can see the Angular implementation in the code below.
            </p>
        </div>
    </section>
    <app-code-example [files]="[
        'molecule-structure.component.ts',
        'molecule-structure.component.html',
        'svg-renderer.component.ts',
        'svg-renderer.component.html',
        'canvas-renderer.component.ts',
        'canvas-renderer.component.html',
        ]"></app-code-example>
</div>